rules_version = '2';
service cloud.firestore {
 match /databases/{database}/documents {

   match /users/{userId} {
     allow read: if request.auth != null; // Allow all authenticated users to view user profiles
     allow write: if request.auth != null && request.auth.uid == userId;
   }

   match /admins/{adminId} {
    allow read: if request.auth != null && 
                get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.UserRole == 'Admin';
   }

   match /products/{productId} {
     allow read: if true;
     allow create: if request.auth != null; // Allow authenticated users to create new products
     allow update: if request.auth != null && 
                   (get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.UserRole == 'Admin' || 
                    request.auth.uid == resource.data.PosterID) && 
                   (request.resource.data.keys().hasOnly(['Price', 'Stock']) || 
                    get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.UserRole == 'Admin'); // Allow users to update Price and Stock of their own products
     allow delete: if request.auth != null && 
                   get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.UserRole == 'Admin';
   }

   match /users/{userId}/cart/{cartItemId} {
     allow read, write: if request.auth != null && request.auth.uid == userId;
   }

   match /products/{productId}/reviews/{reviewId} {
     allow read: if true;
     allow create: if request.auth != null;
     allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
   }

   match /post/{postId} {
      allow read: if request.auth != null; // Allow all authenticated users to view posts
      allow create: if request.auth != null && request.auth.uid == request.resource.data.PosterID; // Allow users to create posts
      allow update: if request.auth != null && (
        request.auth.uid == resource.data.PosterID || // Allow users to update their own posts
        get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.UserRole == 'Admin' // Allow admins to update posts
      );
      allow delete: if request.auth != null && request.auth.uid == resource.data.PosterID; // Allow users to delete their own posts
   }

 }
}